{% extends 'dashboard/index.html' %}

{% block title %}
    {{ expences_page.title }}
{% endblock %}

{% block content %}

<header class="row">
    <div class="d-flex mt-3 mb-4 align-items-center">
        <a href="" class="btn btn-outline-primary mb-3 me-4 mt-2 d-block"><i class="ti ti-settings"></i></a>
        <h1 class="m-0 pb-2">{{ banking_page.h1 }}</h1>
    </div>
    <div class="col-auto">
        <h3>: <span class="text-success"></span></h3>
    </div>
</header>

<div class="row flex-grow-1">

    <div class="col-lg-12 mt-4 md-4">
        <div class="row">
            
        </div>
    </div>

</div>

{% endblock %}

