{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
  
  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
</head>

<body>

  <!-- Header -->
  {% block header %}
  <header>
    <!-- Optional: Navbar or additional header content -->
  </header>
  {% endblock %}
  
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" 
       data-navbarbg="skin6" data-sidebartype="full" 
       data-sidebar-position="fixed" data-header-position="fixed">
    
    <!-- Main Content -->
    <main class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        {% block main %}
        {% endblock %}
      </div>
    </main>

  </div>

  <!-- Scripts -->
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  {% block scripts %}
  <!-- Optional: Add custom JS scripts -->
  {% endblock %}
  
  <!-- Footer -->
  {% block footer %}
  <footer>
    <!-- Optional: Footer content -->
  </footer>
  {% endblock %}

</body>
</html>
