{% load static %}
<aside class="left-sidebar" aria-label="Sidebar navigation">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a class="text-nowrap logo-img" href="{% url 'home_page' %}" aria-label="Go to Home Page">
                <img src="{% static '/svg/logo.svg' %}" width="180" alt="Light Logo" class="light-logo ml-0" />
                <img src="{% static '/svg/dark_logo.png' %}" width="180" alt="Dark Logo" class="dark-logo ml-0" />
            </a>

            <button class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse" aria-label="Close sidebar">
                <i class="ti ti-x fs-8" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar aria-label="Sidebar navigation links">
            <ul id="sidebarnav" role="menu">
                <li class="nav-small-cap" role="presentation">
                    <span class="hide-menu">My Finance</span>
                </li>

                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-layout-dashboard" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                
                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'budget' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-businessplan" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Budget</span>
                    </a>
                </li>

                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'income' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-arrow-up-right" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Income</span>
                    </a>
                </li>

                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'expences' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-arrow-down-right" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Expenses</span>
                    </a>
                </li>

                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'investments' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-layout-dashboard" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Investments</span>
                    </a>
                </li>

                <li class="nav-small-cap" role="presentation">
                    <i class="ti ti-dots nav-small-cap-icon fs-4" aria-hidden="true"></i>
                    <span class="hide-menu">Profile</span>
                </li>

                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'settings' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-settings" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Settings</span>
                    </a>
                </li>

                <li class="nav-small-cap" role="presentation">
                    <i class="ti ti-dots nav-small-cap-icon fs-4" aria-hidden="true"></i>
                    <span class="hide-menu">Site</span>
                </li>

                <li class="sidebar-item" role="none">
                    <a class="sidebar-link" href="{% url 'contact_us' %}" aria-expanded="false" role="menuitem">
                        <span>
                            <i class="ti ti-send" aria-hidden="true"></i>
                        </span>
                        <span class="hide-menu">Contact Us</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
