{% extends 'dashboard/index.html' %}

{% block title %}
    {{ investments_manage_page.title }}
{% endblock %}

{% block content %}
<header class="row" role="banner">
    <div class="d-flex mt-3 mb-4 align-items-center">
        <a href="{% url 'investments' %}" class="btn btn-outline-primary mb-3 me-4 mt-2 d-block" 
           aria-label="{{ investments_manage_page.back_to_investments }}">
            <i class="ti ti-arrow-back" aria-hidden="true"></i>
        </a>
        <h1 class="m-0 pb-2" id="page-title">{{ investments_manage_page.h1 }}</h1>
    </div>
    <div class="col-auto">
        <h3>{{ investments_manage_page.total_actives }}: 
            <span class="text-success" aria-live="polite"> 
                {% if total_income %}{{ total_income }}${% else %}0${% endif %}
            </span>
        </h3>
        <h3>{{ investments_manage_page.total_margin }}: 
            <span class="text-success" aria-live="polite"> 
                {% if total_income %}{{ total_income }}${% else %}0${% endif %}
            </span>
        </h3>
    </div>
</header>

<main class="row flex-grow-1" role="main">

    <div class="col-lg-12 mt-4 mb-4">
        <form method="post" aria-labelledby="page-title">
            {% csrf_token %}

            {% for investment_type in investment_types %}
            <div class="row form-group" role="group" aria-labelledby="{{ investment_type.id }}-group">
                <div class="mb-3 col-md-4 d-flex align-items-end">
                    <h4 id="{{ investment_type.id }}-group">{{ investment_type.name }}</h4>
                </div>
                <div class="mb-3 col-md-2">
                    <label for="{{ investment_type.id }}_amount" class="form-label">{{ investments_manage_page.amount }}</label>
                    <div class="input-group">
                        <input type="number" name="{{ investment_type.id }}_amount" 
                               class="form-control" 
                               id="{{ investment_type.id }}_amount" 
                               value="{{ investment[investment_type.id]|default_if_none:'' }}" 
                               aria-describedby="{{ investment_type.id }}-amount-hint">
                        <span class="input-group-text" id="{{ investment_type.id }}-amount-hint">$</span>
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label for="{{ investment_type.id }}_type" class="form-label">{{ investments_manage_page.investment_type }}</label>
                    <div class="form-check">
                        <input type="checkbox" name="{{ investment_type.id }}_type" 
                               class="form-check-input" 
                               id="{{ investment_type.id }}_type" 
                               {% if investment[investment_type.id + '_type'] %}checked{% endif %}>
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label for="{{ investment_type.id }}_start_date" class="form-label">{{ investments_manage_page.start_date }}</label>
                    <div class="input-group">
                        <input type="date" name="{{ investment_type.id }}_start_date" 
                               class="form-control" 
                               id="{{ investment_type.id }}_start_date" 
                               value="{{ investment[investment_type.id + '_start_date']|default_if_none:''|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label for="{{ investment_type.id }}_end_date" class="form-label">{{ investments_manage_page.end_date }}</label>
                    <div class="input-group">
                        <input type="date" name="{{ investment_type.id }}_end_date" 
                               class="form-control" 
                               id="{{ investment_type.id }}_end_date" 
                               value="{{ investment[investment_type.id + '_end_date']|default_if_none:''|date:'Y-m-d' }}">
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}

            <button type="submit" class="btn btn-primary" aria-label="{{ investments_manage_page.btn.save_investments }}">
                {{ investments_manage_page.btn.save_investments }}
            </button>
        </form>
    </div>

</main>
{% endblock %}
