{% extends 'dashboard/index.html' %}

{% block title %}
    {{ expences_page.title }}
{% endblock %}

{% block content %}

<header class="row">
    <div class="d-flex mt-3 mb-4 align-items-center">
        <a href="{% url 'expences_manage' %}" class="btn btn-outline-primary mb-3 me-4 mt-2 d-block"><i class="ti ti-settings"></i></a>
        <h1 class="m-0 pb-2">{{ expences_page.h1 }}</h1>
    </div>
    <div class="col-auto">
        <h3>{{ expences_page.total_expenses }}: <span class="text-success">{% if total_expences %}-{{ total_expences }}${% else %}0${% endif %}</span></h3>
        <!-- <h3>{{ expences_page.base_expenses }}: <span class="text-success">{% if base_expences %}-{{ base_expences }}${% else %}0${% endif %}</span></h3> -->
    </div>
</header>

<div class="row flex-grow-1">

    <div class="col-lg-12 mt-4 md-4">
        <div class="row">
            <div class="col-lg-8">
                {% include 'include/transaction-expences.html' with text=expences_page.w %}
            </div>
            <div class="col-lg-4">
                {% include 'include/montlyearning.html' with name_id='additional_expences' title=expences_page.w.additional_expenses data_charts='[25, 66, 20, 40, 12, 48, 30]' %}
                {% include 'include/montlyearning.html' with name_id='expences' title=expences_page.w.one_time_expenses data_charts='[75, 66, 20, 40, 12, 58, 25]' %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block 'charts_data' %}
<script>  
    jQuery(document).ready(function() {
        charts( 'expences', '#f16a6a9e', 'Earnings' );
        charts( 'additional_expences', '#f16a6a9e', 'Earnings' );
    }); 
</script>

{% endblock %}